{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrder": ["^@nestjs/(.*)$", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
